.about--page{
    background:#353353 ;
    
    min-height: 100vh;
    margin-left: 370px;
    padding-left: 40px;
    color: white;
  
}
.about--page img{
    padding-top: 40px;
}
.about{
    font-weight: 900;
    font-size: 40px;
    color: #ffc107;
}
.my--info--container{
    display: flex;
}
.my--info{
    width: 60%;
    text-align: justify;
    padding-right: 20px;
    line-height: 30px;
    border-right: 1px solid grey;
}
.skill-item{
    margin: 10px 0 10px 9px;
}


.progress{
    width: 300px;
    height: 8px;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    border: none;
}
.prog1--data{
    
background-color: #dc3545;
width: 85%;
height: 8px;
overflow: hidden;
border-radius: 15px;
    
}
.prog2--data{
    background-color: #ffc107;
    width:75%;
    height: 8px;
    overflow: hidden;
    border-radius: 15px;
}
.prog3--data{
    background-color: rgb(108, 108, 229);
    width:70%;
    height: 8px;
    overflow: hidden;
    border-radius: 15px;
}
